html {
  text-align: center;
  font-family: Georgia, serif;
  background: #EEEEFF;
  color: #333333;
}

body {
  background: white;
  text-align: left;
  float: center;
  display: inline-block;
  font-size: 2vw;
  padding: 3%;
  box-shadow: 0px 10px 10px #00000033;
}

@media (orientation: landscape) {
  body {
    max-width: 1000px;
    font-size: 150%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
}

hr {
  margin: 2em;
  color: #aaaaaa;
}

a {
  text-decoration: none;
  color: #99f;
  transition: color 0.2s ease;
}

a:hover {
  color: #bbf;
}

img {
  display: inline-block;
  margin: auto;
  box-shadow: 0px 5px 10px #00000033;
}

embed {
  display: inline-block;
  margin: auto;
  border: 4px solid #222222aa;
  box-shadow: 0px 5px 10px #00000033;
}

.figure {
  text-align: center;
  padding: 1em;
}

