html {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #222222;
}

body {
  padding-top: 3em;
}

.card {
  display: inline-block;
  box-shadow: 0px 0px 16px #00000055;
  background: white;
  position: relative;
  margin: 10px;
  border: 2px solid #00000000;
}

.card a {
  text-decoration: none;
  display: block;
}

.card img {
  padding: 1em;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  vertical-align: middle;
  width: 192;
  height: 192;
  transition: 0.3s ease-in-out;
}

.card-text {
  background: white;
  color: #222;
  padding: 0.2em;
  transition: 0.3s ease-in-out;
  margin-bottom: 0;
}

.card-text h1 {
  font-size: 1em;
}

.card .card-desc {
  text-align: left;
  transition: 0.3s ease-in-out;
  padding: 0.8em;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background: white;
  font-size: 0.8em;
  color: #444;
}

.card:hover {
  box-shadow: none;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.card:hover .card-text {
  transform: translateY(-200%);
}

.card:hover .card-desc {
  display: inline-block;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  margin: -2px -2px 0 -2px;
  min-height: 6.1em;
}

.card:hover img {
  opacity: 0.4;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
  background: #cc88dd;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 2em;
  box-shadow: 0px 0px 8px black;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.navbar a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 0;
  padding: 0.5em;
  transition: background 0.2s ease-in-out;
  height: 32px;
  width: 64px;
}

.navbar a:hover {
  background: #ebf;
}

.navbar img {
  margin: 0;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.navbar p {
  padding: 0;
  margin: 0;
  display: block;
  vertical-align: bottom;
  text-align: center;
}

.logo-inverted {
  filter: invert(100%);
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  width: 128px;
  height: 128px;
  padding: 3em;
}
